body {
    background-color: #242424 !important;
    font-family: "Josefin Sans", sans-serif !important;
    font-size: 17px !important;
    height: 100vh;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
}

* {
    color: #dfdede;
    /*scrollbar-color: #535353;*/
    scrollbar-color: #343434 #202020;
}

.button-round {
    background-color: inherit;
    transition-duration: 50ms;
    border: none;
    color: inherit;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: inherit;
    border-radius: 12px;
}

.button-chat-history:hover, .button-round:hover {
    background-color: #363636;
    color: inherit;
}

.nav-border {
    border-right: 3px solid #373737;
}

.z-0 {
    z-index: 0;
}

.sidebar {
    background-color: #1a1a1a;
    z-index: 5;
    width: 270px; 
    transition: all 1s ease;
}

.sidebar-hidden {
    width: 0%;
}

.hidden {
    display: none;
}

.text-color-1 {
    color: #b0afaf;
}

.text-color-2 {
    color: #eae9e9;
}

.wrap-text {
    white-space: pre-wrap;
}

.chat-history-list {
    margin-top: 0.75rem;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

.chat-history-list-item {
    margin-bottom: 0.35rem;
}

.button-chat-history {
    position: relative;
    background-color: inherit;
    transition-duration: 50ms;
    font-size: 15px !important;
    width: 100%;
    border: none;
    color: inherit;
    padding: 4px 8px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: inherit;
    border-radius: 8px;
    white-space: nowrap;
}

.button-chat-history::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50px; /* Adjust width of fade */
    height: 100%;
    background: linear-gradient(90deg, transparent, #1a1a1a);
    pointer-events: none;
}

.input-field {
    background-color: #1a1a1a;
    box-sizing: border-box;
    box-shadow: 0 0 0 10px #1a1a1a;
    border: none;
    color: #dfdede;
    height: 5rem;
    width: 100%;
    border-radius: 8px;
    resize: none;
}

.input-field:focus {
    outline: none;
}

.padding-x-5 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.padding-x-10 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.padding-x-15 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.padding-y-5 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.padding-y-10 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.padding-y-15 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* Added specific padding-10 due to it being used often*/
.padding-10 {
    padding: 1rem;
}

img.albin {
    width: 2.5rem;
    height: 2.5rem;
}

.center-flex-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.width-fit {
    width: fit-content;
}

.height-fit {
    height: fit-content;
}

.full-height {
    height: 100%;
}

.min-height-0 {
    min-height: 0;
}

.full-width {
    width: 100%;
}

.min-width-0 {
    min-width: 0;
}

.flex {
    display: flex;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-1 {
    flex: 1 1 0%;
}

.flex-2 {
    flex: 2 2 0%;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.items-start {
    align-items: flex-start;
}

.relative {
    position: relative;
}

.static {
    position: static;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}
